{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% if current %} - {{ current.name }} {% endif %}{% endblock %}


{% block search %}
    <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        <input class="uk-input uk-form-width-large uk-input-search" placeholder="Recherche" id="searchbox">
    </div>
{% endblock %}

{% block link %}
        <div class="uk-inline uk-div uk-width-1-3@l uk-width-1-1@s uk-margin-auto uk-display-block uk-hidden">
            <button class="uk-button uk-button-secondary uk-button-small uk-width-1-1" type="button">Options <span uk-icon="icon:  triangle-down"></span></button>
            <div uk-dropdown="mode: click; boundary: ! .uk-div; boundary-align: true;">
                <ul class="uk-nav uk-dropdown-nav">
                        <li><a {% if not current_user.has_roles([('super_admin', 'devis')], ['edit']) %} class="uk-disabled uk-text-danger" {% else %} href="{{ url_for('devis.canceled') }}" id="deleted" {% endif %}>Annuler</a></li>
                </ul>
            </div>
        </div>
{% endblock %}

{% block  button %}
    {% if not current %}
    <a class="uk-button waves-effect uk-button-success uk-button-small" href="{{ url_for('devis.edit') }}"><span class="uk-margin-small-right"><i class="fa fa-plus"></i></span>Creer</a>
    {% else %}
    <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('opportunite.view', opportunite_id=current.id) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
    {% endif %}
{% endblock %}

{% block layout_content %}

    <div class="uk-container-expand">

        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover " id="dataTable">
                        <thead>
                        <tr>
                            <th class="no-sort" width="3%"><input type="checkbox" value="" class="uk-checkbox uk-checkbox-all"/></th>
                            <th width="15%">N° de devis</th>
                            <th width="15%">Date du devis</th>
                            <th width="20%">Clients</th>
                            <th width="20%">Vendeur</th>
                            <th width="15%">Total</th>
                            <th width="15%">Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for data in datas %}
                          <tr data-link="{{ url_for('devis.view', devis_id=data.id) }}">
                            <td><input type="checkbox" value="{{ data.id }}" name="item_id" class="uk-checkbox uk-checkbox-item"/></td>
                            <td>{{ data.reference() }}</td>
                            <td>{{ data.createDate|format_date('%d/%m/%Y - %H:%M') }}</td>
                            <td>{{ data.client_id.name }}</td>
                            <td>{{ data.vendeur_id.full_name() }}</td>
                            <td>{{ data.montant }}</td>
                            <td>
                                {% if data.status == 0 %} Nouveau {% endif %}
                                {% if data.status == 1 %} Envoyée {% endif %}
                                {% if data.status == 2 %} Bon de commande {% endif %}
                                {% if data.status == 3 %} Annulé {% endif %}
                            </td>
                          </tr>
                        {% endfor %}

                        </tbody>
{#                        <tfooter>#}
{#                        <tr>#}
{#                            <th><input type="checkbox" value="" class="uk-checkbox"/></th>#}
{#                            <th colspan="3"></th>#}
{#                            <th width="35%"><div class="uk-text-bold uk-text-right">Total</div></th>#}
{#                            <th width="35%">{{ total }}</th>#}
{#                            <th colspan="2"></th>#}
{#                        </tr>#}
{#                        </tfooter>#}

                    </table>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer_script %}

        {% if request.args.get('paged')|int %}
            <script>
                table.page({{ request.args.get('paged')|int }}).draw( 'page' );
            </script>
        {% endif %}

{% endblock %}