<div class="item infobox" data-id="{{ site.id }}">

{#<a href="">#}
        <div class="description">
            <div class="uk-label uk-label-danger">{{ site.secteur_id.name }}</div>
            <h3>{{ site.name }}</h3>
            <h4>{{ site.local_id.name }}, {{ site.local_id.parent.name }}</h4>
        </div>
        {% if site.image %}
            <div class="image" style="background-image: url({{ site.image }})"></div>
        {% else %}
            <div class="image" style="background-image: url({{ url_for('static', filename='images/bg-flou.jpg', _external=True) }})"></div>
        {% endif %}
{#</a>#}

</div>