<tr>
    <td>
        <div class="uk-form-controls uk-form-service">

            <select name="services" id="services" class="uk-select selected">
                <option value="">Choisir un service</option>
                {% for service in services %}
                    <option value="{{ service.id }}">{{ service.name }}</option>
                {% endfor %}
            </select>

        </div>
    </td>
    <td>
        <div class="uk-form-controls uk-form-package">

            <select name="package" id="package" class="uk-select selected">
                <option value="">Choisir un produit</option>
            </select>

        </div>
    </td>
    <td>
        <div class="uk-form-controls uk-form-qte">

                <a class="uk-button uk-button-link uk-button-small uk-text-small ddd uk-icon-link" href="#" data-multi="-1"><span uk-icon="icon: minus"></span></a>

                <input type="text" value="1" name="qte" class="uk-input change_qte uk-width-auto uk-text-center"/>

                <a class="uk-button uk-button-link uk-button-small uk-text-small ddd uk-icon-link" href="#" data-multi="1"><span uk-icon="icon: plus"></span></a>

        </div>
    </td>
    <td>
        <div class="uk-form-controls uk-form-prix">

            <input type="text" value="0" name="prix" class="uk-input uk-width-auto uk-text-center uk-form-blank"/>

        </div>
    </td>
    <td>
        <div class="uk-form-controls uk-form-prix">
            <span class="uk-width-auto uk-text-center"></span>
        </div>
    </td>
    <td>
        <a href="#" class="uk-button uk-button-default uk-button-small delete_item" ><span uk-icon="icon: trash"></span></a>
    </td>
</tr>