{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}


{% block  button %}
    <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('relation.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
{% endblock %}


{% block layout_content %}
<div class="uk-container uk-margin">
            {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <form method="post" id="formulaire">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body">
                            {% if current_user.has_roles([('super_admin', 'relation')], ['edit']) %}
                                <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-right">
                                        <a href="{{ url_for('claim.accepte', relation_id=relation_id) }}" class="uk-button uk-button-success-active waves-effect uk-button-small {% if relation.statut != 1 %} uk-disabled {% endif %}">
                                        <span>Accepter</span>
                                    </a>
                                    <a href="{{ url_for('claim.refuse', relation_id=relation_id) }}" class="uk-button waves-effect uk-button-danger-active uk-button-small {% if relation.statut != 1 %} uk-disabled {% endif %}">
                                        <span>Refuser</span>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="uk-padding uk-padding-remove-horizontal uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-bold">Revendicateur : </label>
                                        <div class="uk-form-controls">
                                            <input type="text" class="uk-input uk-form-blank uk-width-1-1" value="{{ relation.iduser.full_name() }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-bold">Etat : </label>
                                        <div class="uk-form-controls">
                                            {% if relation.statut == 0 %} Accepté {% endif %} {% if relation.statut == 1 %} En cours {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-bold">Date Creation : </label>
                                        <div class="uk-form-controls">
                                            {{ relation.createDate|format_date('%d/%m/%Y - %H:%M') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-bold">Date decision : </label>
                                        <div class="uk-form-controls">
                                            {{ relation.updateDate|format_date('%d/%m/%Y - %H:%M') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <h2 class="uk-heading-line uk-text-center"><span>Information Agence</span></h2>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.raison.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top">
                                                <li class="uk-active">
                                                    {% if form.raison.data == 'LT' %} Etablissement {% endif %}
                                                    {% if form.raison.data == 'SARL' %} SARL (Société à responsabilité limitée) {% endif %}
                                                    {% if form.raison.data == 'SA' %} SA (Société Anonyme) {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.name(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.idcategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top uk-subnav-divider">
                                                {% for item in data.idcategorie %}
                                                    <li class="uk-active">{{ item.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.maincategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top">
                                                <li class="uk-active">{{ data.maincategorie.name }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.email.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.email(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.phone.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.phone(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.ville.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.ville(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.quartier.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.quartier(class_='uk-input  uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.repere.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.repere(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.postal_code.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.postal_code(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.adresse.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.adresse(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin">
                                        {{ form.description.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.description(class_='uk-textarea uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-center">
                                    <a href="{{ url_for('client.view', client_id=data.id) }}" class="uk-button uk-button-success-active waves-effect uk-button-small uk-target-blank">Consulter plus de details</a>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <h2 class="uk-heading-line uk-text-center"><span>Information Entreprise à rejoindre</span></h2>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.raison.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top">
                                                <li class="uk-active">
                                                    {% if form_parent.raison.data == 'LT' %} Etablissement {% endif %}
                                                    {% if form_parent.raison.data == 'SARL' %} SARL (Société à responsabilité limitée) {% endif %}
                                                    {% if form_parent.raison.data == 'SA' %} SA (Société Anonyme) {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.name(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.idcategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top uk-subnav-divider">
                                                {% for item in data_parent.idcategorie %}
                                                    <li class="uk-active">{{ item.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.maincategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top">
                                                <li class="uk-active">{{ data_parent.maincategorie.name }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.email.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.email(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.phone.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.phone(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.ville.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.ville(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.quartier.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.quartier(class_='uk-input  uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.repere.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.repere(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.postal_code.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.postal_code(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_parent.adresse.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.adresse(class_='uk-input uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin">
                                        {{ form_parent.description.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_parent.description(class_='uk-textarea uk-form-blank') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-center">
                                    <a href="{{ url_for('client.view', client_id=data_parent.id) }}" class="uk-button uk-button-success-active waves-effect uk-button-small uk-target-blank">Consulter plus de details</a>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>

            </div>
    </div>
{% endblock %}