{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}

{% block  button %}
    <a class="uk-button waves-effect uk-button-success uk-button-small" id="submit" href=""><span class="uk-margin-small-right"><i class="fa fa-floppy"></i></span>Enreg.</a>
    {% if package_id %}
        <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('package.view', package_id=package_id, paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-times"></i></span> Annuler</a>
    {% else %}
        <a class="uk-button waves-effect uk-button-success uk-button-small" id="submit_nouveau" href=""><span class="uk-margin-small-right"><i class="fa fa-floppy-o"></i></span> et Nouveau</a>
        <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('package.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-times"></i></span> Annuler</a>
    {% endif %}
{% endblock %}

{% block  layout_content %}
<div class="uk-container uk-margin">
            {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <form method="post" id="formulaire">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body">
                            {% if package_id %}
                                <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-right">
                                    <a href="{{ url_for('package.etat', package_id=package_id) }}" class="uk-button waves-effect uk-actives {% if data.actif %} uk-button-success-active {% else %} uk-button-danger-active {% endif %} uk-button-small">
                                        <span>{% if data.actif %} Activé {% else %} Desactivé {% endif %}</span>
                                    </a>
                                </div>
                            {% endif %}

                            {{ form.hidden_tag() }}
                            <input type="hidden" name="nouveau" value="0" id="nouveau"/>
                            <div class="uk-padding uk-padding-remove-horizontal uk-grid-small" uk-grid>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.name(class_='uk-input required') }}
                                            {% for message in form.name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.passage.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.passage(class_='uk-input required') }}
                                            {% for message in form.passage.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.prix_outdoor.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.prix_outdoor(class_='uk-input ') }}
                                            {% for message in form.prix_outdoor.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.prix_indoor.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.prix_indoor(class_='uk-input ') }}
                                            {% for message in form.prix_indoor.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </form>
                </div>

            </div>
    </div>


{% endblock %}

{% block footer_script %}

     <script>
        $('#submit').on('click', function(e){
            e.preventDefault();
            $('#formulaire').submit();
        });
        $('#submit_nouveau').on('click', function(e){
            e.preventDefault();
            $('#nouveau').val(1);
            $('#formulaire').submit();
        });
    </script>

{% endblock %}
