{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}


{% block search %}
    <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        <input class="uk-input uk-form-width-large uk-input-search uk-form-small" placeholder="Recherche" id="searchbox">
    </div>
{% endblock %}


{% block link %}
        <div class="uk-inline uk-div uk-width-1-3@l uk-width-1-1@s uk-margin-auto uk-display-block uk-hidden">
            <button class="uk-button uk-button-secondary uk-button-small uk-width-1-1" type="button">Options <span uk-icon="icon:  triangle-down"></span></button>
            <div uk-dropdown="mode: click; boundary: ! .uk-div; boundary-align: true;">
                <ul class="uk-nav uk-dropdown-nav">
{#                        <li><a {% if not current_user.has_roles([('super_admin', 'package')], ['delete']) %} class="uk-disabled uk-text-danger" {% else %} href="{{ url_for('package.deleted') }}" id="deleted" {% endif %}>Supprimer</a></li>#}
                </ul>
            </div>
        </div>
{% endblock %}


{% block  button %}
    {% if current_user.has_roles([('super_admin', 'moyen_paiement')], ['edit']) %}
    <a class="uk-button waves-effect uk-button-success uk-button-small" href="{{ url_for('moyen_paiement.edit') }}"><span class="uk-margin-small-right"><i class="fa fa-plus"></i></span>Creer</a>
    {% endif %}
{% endblock %}

{% block layout_content %}

    <div class="uk-container-expand">

        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-small uk-table-middle uk-table-striped uk-table-hover" id="dataTable">
                        <thead>
                        <tr>
                            <th class="no-sort"><input type="checkbox" value="" class="uk-checkbox uk-checkbox-all"/></th>
                            <th width="60%">Nom</th>
                            <th width="40%">Sigle</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in datas %}
                          <tr data-link="{{ url_for('moyen_paiement.view', moyen_paiement_id=data.id) }}">
                            <td><input type="checkbox" value="{{ data.id }}" name="item_id" class="uk-checkbox uk-checkbox-item"/></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.sigle }}</td>

                          </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block footer_script %}

        {% if request.args.get('paged')|int %}
            <script>
                table.page({{ request.args.get('paged')|int }}).draw( 'page' );
            </script>
        {% endif %}

{% endblock %}