<button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-modal-header">
    <h2 class="uk-modal-title">Attribut du service</h2>
</div>
<form class="form-horizontal" role="form" id="formulaire_modal">

    {{ form.hidden_tag() }}
    <div class="uk-modal-body" uk-overflow-auto>
        <div class="uk-margin">
            {{ form.libelle.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.libelle(class_='uk-input') }}
            {% for message in form.libelle.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
         <div class="uk-margin">
            {{ form.name.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.name(class_='uk-input ') }}
            {% for message in form.name.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
         <div class="uk-margin">
            {{ form.desc.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.desc(class_='uk-textarea ') }}
            {% for message in form.desc.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>





    </div>

    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button waves-effect uk-button-danger uk-modal-close uk-buttom-small" type="button">Fermer</button>
        <button type="button" id="submit_modal" class="uk-button waves-effect uk-button-success uk-buttom-small"><span class="uk-margin-small-right"><i class="fa fa-floppy-o"></i></span>Enreg.</button>
    </div>
</form>

<script>
    $('#submit_modal').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('service.attribut_edit', service_id=service_id, attribut_id=attribut_id) }}",
                data: $('#formulaire_modal').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#modal-id .uk-body-custom').html(data);
                }
            });
    });
    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('service.edit', service_id=service_id) }}").delay();
    {% endif %}
</script>
