.map, .map-wrapper {
  height: 100%;
}

.map.show-marker-labels .marker .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.map .cluster:hover > div {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.map .cluster > div {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -webkit-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  background-color: #d32f2f;
  border: 2px solid #d32f2f;
  width: 36px;
  height: 36px;
  color: #fff !important;
  line-height: 32px !important;
}
.map .cluster > div:after {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform: translateZ(-2px);
  -ms-transform: translateZ(-2px);
  -webkit-transform: translateZ(-2px);
  transform: translateZ(-2px);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  border: 2px solid #d32f2f;
  background-color: #d32f2f;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -2px;
  left: -2px;
  content: "";
}
.map .cluster > div:before {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -moz-transform: translateZ(-4px);
  -ms-transform: translateZ(-4px);
  -webkit-transform: translateZ(-4px);
  transform: translateZ(-4px);
  content: "\f002";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 36px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}
.map a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
.map a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.map .gmnoprint a, .map .gmnoprint span, .map .gm-style-cc {
  display: none;
}
.map .marker {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.map .marker:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  width: 14px;
  height: 4px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.map .marker:hover:after, .map .marker.hover-state:after, .map .marker.active:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.map .marker:hover .marker-wrapper, .map .marker.hover-state .marker-wrapper, .map .marker.active .marker-wrapper {
  -moz-transform: rotateY(180deg) translateY(-4px);
  -ms-transform: rotateY(180deg) translateY(-4px);
  -webkit-transform: rotateY(180deg) translateY(-4px);
  transform: rotateY(180deg) translateY(-4px);
}
.map .marker:hover .marker-wrapper .pin:after, .map .marker.hover-state .marker-wrapper .pin:after, .map .marker.active .marker-wrapper .pin:after {
  -moz-transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.map .marker:hover .title, .map .marker.hover-state .title, .map .marker.active .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.map .marker.active .marker-wrapper:before {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: pulse;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -moz-animation-name: pulse;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: infinite;
  -o-animation-delay: 0s;
  -o-animation-duration: 2s;
  -o-animation-name: pulse;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: pulse;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
}
.map .marker .marker-wrapper {
  -moz-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -webkit-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  position: relative;
  transform-style: preserve-3d;
  width: 37px;
  height: 49px;
}
.map .marker .marker-wrapper:before {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #d32f2f !important;
  width: 37px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
}
.map .marker .marker-wrapper:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -moz-transform: translateZ(-4px);
  -ms-transform: translateZ(-4px);
  -webkit-transform: translateZ(-4px);
  transform: translateZ(-4px);
  content: "\f002";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
}
.map .marker .marker-wrapper .pin {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  transform-style: preserve-3d;
  border: 2px solid #d32f2f;
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  background-size: cover;
}
.map .marker .marker-wrapper .pin:before {
  -moz-transform: translateZ(-2px);
  -ms-transform: translateZ(-2px);
  -webkit-transform: translateZ(-2px);
  transform: translateZ(-2px);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #d32f2f;
  content: "";
  z-index: -2px;
  background-color: #d32f2f;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 37px;
  height: 37px;
  z-index: 1;
}
.map .marker .marker-wrapper .pin .image {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px white;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}
.map .marker .marker-wrapper .pin .image:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #d32f2f transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: auto;
}
.map .marker .tag {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform: translateZ(3px);
  -ms-transform: translateZ(3px);
  -webkit-transform: translateZ(3px);
  transform: translateZ(3px);
  position: absolute;
  top: -3px;
  right: -1px;
  z-index: -1;
  background-color: #d32f2f;
  width: 19px;
  font-size: 9px;
  height: 19px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  transform-style: preserve-3d;
}
.map .marker .tag i {
  -moz-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
  -webkit-transform: translateZ(2px);
  transform: translateZ(2px);
  transform-style: preserve-3d;
}
.map .marker .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  position: absolute;
  left: 50px;
  top: 5px;
  white-space: nowrap;
  background-color: #fff;
  padding: 2px 4px;
}
.map .marker .title:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #fff transparent transparent;
  content: "";
  position: absolute;
  left: -6px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.map .marker .title:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
  content: "";
  position: absolute;
  left: -6px;
  top: 2px;
  bottom: 0;
  margin: auto;
}
.map .tooltip .tooltip-inner {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: #fff;
  color: #1f1f1f;
}
.map .tooltip .tooltip-arrow {
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  border-top-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  bottom: -1px;
}
.map .tooltip .tooltip-arrow:after {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  border-top-color: #fff;
  position: absolute;
  top: -6px;
  left: -5px;
  content: "";
}

.item {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
}

.item > a, .item {
    display: block;
    position: relative;
    height: 220px;
    overflow: hidden;
}

.item > a .description, .item > .description {
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

.item > a .description h3, .item > .description h3 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}

.item > a .description h4, .item > .description h4 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    margin: 0;
}

.item > a .image, .item > .image {
    -moz-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    position: absolute;
    width: 100%;
    height: 100%;
}



.infobox-wrapper {
  -moz-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -webkit-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.infobox-wrapper.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.infobox-wrapper.show > img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.infobox-wrapper.show .infobox > a {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.infobox-wrapper.show .infobox .rating-passive {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.infobox-wrapper.show .infobox .description {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.infobox-wrapper > img {
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute !important;
  z-index: 1;
  right: -15px;
  top: -15px;
}

.infobox-wrapper .infobox {
  width: 270px;
  background-color: #fff;
}

.infobox-wrapper .infobox .description {
  -moz-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -webkit-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  z-index: 1;
  bottom: 40px;
  padding-right: 20px;
}

.infobox-wrapper .infobox .description h3 {
  font-size: 18px;
}

.infobox-wrapper .infobox .description h4 {
  font-size: 12px;
}



.infobox-wrapper .infobox > a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
  -moz-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -webkit-transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  transition: 0.5s cubic-bezier(0, 0.28, 0.45, 1.01);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.infobox-wrapper .infobox > a .image {
  background-position: 50% 50%;
  background-size: cover;
}

.infobox-wrapper .infobox > a .image:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background-color: transparent;
}

