

html, body{
    background-color: #fff;
    width:100%;
    color: #000;
    font-size: 20px;
    line-height: 1.42857143;
    /*transition: all 0.5s;*/
}

/*html, body {*/
  /*overflow-x: hidden;*/
/*}*/

/*table, img, blockquote {page-break-inside: avoid;*/
/*margin: 4px 0 4px 0;}*/
/*thead {*/
        /*display: table-header-group;*/
    /*}*/
/*table, tr, td, th, tbody, thead, tfoot {*/
    /*page-break-inside: avoid !important;*/
    /*white-space: nowrap;*/
    /*word-wrap:break-word;*/
/*}*/


thead { display: table-header-group; }
tfoot { display: table-row-group }
tr { page-break-inside: avoid; }


.break{
    page-break-after: always;
    position: relative;
    height: 100%;

}

.uk-table :not(:last-child)>td{
    border-bottom: none;
}

td.zone, table.uk-info-zone{
    background-color: #f44336;
    color: #fff;
}

td.title{
    padding-bottom: 0 !important;
}

.subtitle span{
    width: 50px;
    display: inline-block;
}

.uk-info-zone .title{
    color: #fff;
}


.uk-table-bordered tbody td{
    border: 1px solid #e5e5e5;
    /*padding: 5px 10px !important;*/
}


.image{
    margin-right: 50px;
    /*margin-top: -60px;*/
    width: 100px;
    height: 100px;

}

.no-border{
    border: none !important;
    background-color: #fff !important;
}

.no-border-first-child{

    border-top: 1px solid #e5e5e5 !important;
}




.uk-background-custom{
    background-color: #f44336 !important;
    color: #fff;
    border: none !important;
}


.icon-width{
    width: 20px !important;
    height: 20px !important;
}

.price{
    position:fixed;
    /*height:70px;*/
    bottom:300px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

/*.signature{*/
    /*position:fixed;*/
    /*height:70px;*/
    /*bottom:100px;*/
    /*left:0px;*/
    /*right:0px;*/
    /*margin-bottom:0px;*/
/*}*/

.footer {
    position:fixed;
    /*height:50px;*/
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
.footer2 {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:-1355px;
}
.footer3 {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:-2711px;
}



