{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}

{% block  button %}
     {% if current_user.has_roles([('super_admin', 'entreprise')], ['edit'])%}
    <a class="uk-button waves-effect uk-button-success uk-button-small" id="submit"  href=""><span class="uk-margin-small-right"><i class="fa fa-floppy-o"></i></span>Enreg.</a>
    {% endif %}
{% endblock %}


{% block layout_content %}

    <div class="uk-container uk-margin">
        {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">

                        <form class="uk-form-stacked" method="post" id="formulaire">

                        {{ form.hidden_tag() }}
                        <div class="uk-margin">
                            {{ form.typEnt.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                <select name="typEnt" id="" class="uk-select selected required uk-form-small">
                                    <option value="">Selectionnez votre type d'entreprise</option>
                                    <option value="LT" {% if form.typEnt.data == 'LT' %} selected {% endif %}>Etablissement</option>
                                    <option value="SARL" {% if form.typEnt.data == 'SARL' %} selected {% endif %}>SARL (Société à responsabilité limitée)</option>
                                    <option value="SA" {% if form.typEnt.data == 'SA' %} selected {% endif %}>SA (Société Anonyme)</option>
                                </select>
                                {% for message in form.typEnt.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.name.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.name(class_='uk-input required uk-form-small') }}
                                {% for message in form.name.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.slogan.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.slogan(class_='uk-input uk-form-small') }}
                                {% for message in form.slogan.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.numcontr.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.numcontr(class_='uk-input required uk-form-small') }}
                                {% for message in form.numcontr.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.registcom.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.registcom(class_='uk-input required uk-form-small') }}
                                {% for message in form.registcom.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.adress.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.adress(class_='uk-input required uk-form-small') }}
                                {% for message in form.adress.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.pays.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.pays(class_='uk-input uk-form-small') }}
                                {% for message in form.pays.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.ville.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.ville(class_='uk-input required uk-form-small') }}
                                {% for message in form.ville.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>



                        <div class="uk-margin">
                            {{ form.quartier.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.quartier(class_='uk-input required uk-form-small') }}
                                {% for message in form.quartier.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>



                        <div class="uk-margin">
                            {{ form.bp.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.bp(class_='uk-input uk-form-small') }}
                                {% for message in form.bp.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="uk-margin">
                            {{ form.phone.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.phone(class_='uk-input required uk-form-small') }}
                                {% for message in form.phone.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.email.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.email(class_='uk-input required uk-form-small') }}
                                {% for message in form.email.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.siteweb.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.siteweb(class_='uk-input required uk-form-small') }}
                                {% for message in form.siteweb.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                         <div class="uk-margin">
                            {{ form.facebook.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.facebook(class_='uk-input required uk-form-small') }}
                                {% for message in form.facebook.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                         <div class="uk-margin">
                            {{ form.twitter.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.twitter(class_='uk-input required uk-form-small') }}
                                {% for message in form.twitter.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.emailNotification.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.emailNotification(class_='uk-input uk-form-small') }}
                                {% for message in form.emailNotification.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="uk-margin">
                            {{ form.senderNotification.label(class_='uk-form-label') }}
                            <div class="uk-form-controls">
                                {{ form.senderNotification(class_='uk-input uk-form-small') }}
                                {% for message in form.senderNotification.errors %}
                                    <span class="uk-text-danger">{{ message }}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </form>



                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block footer_script %}

    <script>
        $('#submit').on('click', function(e){
            e.preventDefault();
            $('#formulaire').submit();
        });
    </script>

{% endblock %}
