<button class="uk-modal-close-outside" type="button" uk-close></button>
<div class="uk-modal-header">
    <h2 class="uk-modal-title">Creation/Modification d'un profil</h2>
</div>

<form class="form-horizontal" role="form" id="formulaire">

    {{ form.hidden_tag() }}
    <div class="uk-modal-body" uk-overflow-auto>
       <div class="uk-margin">
        {{ form.name.label(class_='uk-form-label') }}
        <div class="uk-form-controls">
        {{ form.name(class_='uk-input', id="enter") }}
        {% for message in form.name.errors %}
            <div class="uk-alert uk-alert-danger">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
      <div class="uk-margin">
        {{ form.description.label(class_='uk-form-label') }}
        <div class="uk-form-controls">
        {{ form.description(class_='uk-textarea', id="enter") }}
        {% for message in form.description.errors %}
            <div class="uk-alert uk-alert-danger">{{ message }}</div>
        {% endfor %}
        </div>
      </div>
      <div class="uk-margin">
            <div class="uk-form-controls">
                <label>{{ form.active(class_="uk-radio") }}{{ form.active.label() }}</label>
                {% for message in form.active.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button waves-effect uk-button-default uk-modal-close" type="button">Fermer</button>
        <button type="button" id="submit" class="uk-button waves-effect uk-button-success">Enregistrer</button>
    </div>
</form>
<script>
    $('#submit').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('profil.edit', profil_id=profil_id) }}",
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#modal-id .uk-body-custom').html(data);
                }
            });
    });

    $('#enter').keypress(function(e) {
        if (e.which == 13){
            e.preventDefault();
            $.ajax({
                url: "{{ url_for('profil.edit', profil_id=profil_id) }}",
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#modal-id .uk-body-custom').html(data);
                }
            });
        }
    });

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('profil.index') }}").delay();
    {% endif %}
</script>