{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}

{% block  button %}
    {% if current_user.has_roles([('super_admin', 'client')], ['edit']) %}
    <a class="uk-button waves-effect uk-button-success uk-button-small"  href="{{ url_for('client.edit', client_id=client_id, paged=request.args.get('paged'), news=request.args.get('news')) }}"><span class="uk-margin-small-right"><i class="fa fa-pencil-square-o"></i></span>Modifier</a>
    {% endif %}
    <a class="uk-button waves-effect uk-button-danger uk-button-small" {% if not request.args.get('news') %} href="{{ url_for('client.index', paged=request.args.get('paged')) }}" {% else %} href="{{ url_for('client.new', paged=request.args.get('paged')) }}" {% endif %}><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
{% endblock %}

{% block layout_content %}
<div class="uk-container uk-margin">
            {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <form method="post" id="formulaire">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body">
                            {% if client_id %}
                                <div class="uk-float-right uk-flex uk-flex-right uk-grid-small uk-child-width-auto" uk-grid>
                                    <a href="#" class="uk-button waves-effect {% if data.activated %} uk-button-success-active {% else %} uk-button-danger-active {% endif %} uk-button-small uk-display-inline-block">
                                        <span>{% if data.activated %} Activé {% else %} Desactivé {% endif %}</span>
                                    </a>
                                </div>

                                <div class="uk-clearfix"></div>
                            {% endif %}

                            {{ form.hidden_tag() }}
                            <div class="uk-padding uk-padding-remove-horizontal uk-grid-small"  uk-grid>
                                <div class="uk-width-1-1@s">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-1-3@s">

                                                <div class="test-upload uk-placeholder uk-text-center">
                                                    <br/>
                                                    <img src="{% if form.logo.data %}{{ url_for('client.download_file', filename=form.logo.data) }}{% endif %}" id="image_upload" alt="" class="{% if not form.logo.data %}uk-hidden{% endif %} uk-margin-auto uk-display-block uk-height-max-small"/>
                                                </div>
                                        </div>
                                        <div class="uk-width-2-3@s">
                                            <div class="uk-margin">
                                                {{ form.raison.label(class_='uk-form-label uk-text-bold') }}
                                                <div class="uk-form-controls">
                                                    <ul class="uk-subnav uk-margin-small-top">
                                                        <li class="uk-active">
                                                            {% if form.raison.data == 'LT' %} Etablissement {% endif %}
                                                            {% if form.raison.data == 'SARL' %} SARL (Société à responsabilité limitée) {% endif %}
                                                            {% if form.raison.data == 'SA' %} SA (Société Anonyme) {% endif %}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                {{ form.name.label(class_='uk-form-label uk-text-bold') }}
                                                <div class="uk-form-controls">
                                                    {{ form.name(class_='uk-input uk-form-blank uk-form-small') }}
                                                    {% for message in form.name.errors %}
                                                        <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="uk-divider-icon">
                                </div>

                                <div class="uk-width-1-2@s">

                                    <div class="uk-margin">
                                        {{ form.idcategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top uk-subnav-divider">
                                                {% for item in data.idcategorie %}
                                                    <li class="uk-active">{{ item.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.maincategorie.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            <ul class="uk-subnav uk-margin-small-top">
                                                <li class="uk-active">{{ data.maincategorie.name }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.email.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.email(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.email.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.phone.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.phone(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.phone.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.region.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.region(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.region.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.ville.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.ville(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.ville.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.quartier.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.quartier(class_='uk-input  uk-form-blank uk-form-small') }}
                                            {% for message in form.quartier.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.repere.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.repere(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.repere.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.postal_code.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.postal_code(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.postal_code.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.adresse.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.adresse(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.adresse.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.urlsite.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.urlsite(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.urlsite.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.facebook.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.facebook(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.facebook.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.twitter.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.twitter(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.twitter.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.linkedin.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.linkedin(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.linkedin.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.youtube.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.youtube(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.youtube.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin">
                                        {{ form.description.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.description(class_='uk-textarea uk-form-blank uk-form-small') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.latitude.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.latitude(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.latitude.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form.longitude.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.longitude(class_='uk-input uk-form-blank uk-form-small') }}
                                            {% for message in form.longitude.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-1">

                                    <h2 class="uk-heading-line uk-text-left uk-margin-top"><span>Lien Vidéo</span></h2>
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-2-3@l uk-width-1-1@s">
                                            <div class="uk-grid-small" uk-grid>

                                                <div class="uk-width-2-3"><input class="uk-input uk-display-inline uk-form-blank" type="text" name="video" value="{{ data.video().url }}" placeholder="Lien de la video"></div>
                                                <div class="uk-width-1-3">

                                                    <a class="uk-button waves-effect waves-effect uk-button-default uk-button-small" href="{{ data.video().url }}" target="_blank"><span class=""><i class="fa fa-search-plus"></i></span></a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <h2 class="uk-heading-line uk-text-left uk-margin-top"><span>Photos</span></h2>

                                    <div class="uk-grid-small" uk-grid uk-height-match="target: > div > .uk-card; row: false" uk-margin>

                                        {% for image in data.media() %}

                                            <div class="uk-width-1-4@l uk-width-1-1@s">
                                                <div class="uk-card uk-card-default uk-card-small" id="{{ image.id }}">

                                                    <div class="uk-card-media-top uk-cover-container uk-height-small uk-height-max-small">
                                                        <img src="{{ url_for('client.download_file', filename=image.url) }}" alt="" class="uk-responsive-height uk-position-center">
                                                    </div>
                                                    <div class="uk-card-body">
                                                        {% if image.type == 'image' %}
                                                            <div class="uk-card-badge uk-label uk-label-danger"> <i class="fa fa-picture-o"></i></div>
                                                        {% elif image.type == 'video' %}
                                                            <div class="uk-card-badge uk-label uk-label-danger"> <i class="fa fa-file-video-o"></i></div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="uk-card-footer uk-text-right">
                                                        <a class="uk-button waves-effect uk-button-default uk-button-small " href="#modal-{{ image.id }}" uk-toggle ><i class="fa fa-search-plus"></i></a>
                                                        <div id="modal-{{ image.id }}" uk-modal="center: true">
                                                            <div class="uk-modal-dialog">
                                                                <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                                <img src="{{ url_for('client.download_file', filename=image.url) }}" alt="" class="uk-align-center uk-responsive-height uk-margin">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>

                                </div>


                            </div>

                        </div>
                    </form>
                </div>

            </div>
    </div>
{% endblock %}