<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
    <li><a href="{{ url_for('dashboard.index') }}" class="waves-effect">Tableau de bord</a></li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
        <a href="#" class="waves-effect">Relance</a>
        <ul class="uk-nav-sub">
            <li><a href="{{ url_for('relance.index') }}" class="waves-effect">Activité suivante</a></li>
            <li><a href="{{ url_for('opportunite.index') }}" class="waves-effect">Opportunités</a></li>
            <li class="uk-nav-header">ICI Manager</li>
            {% if current_user.has_roles([('super_admin', 'abonnement_ici')]) %}
                <li><a href="{{ url_for('abonnement.index') }}" class="waves-effect">Abonnement</a></li>
            {% endif %}
            <li class="uk-nav-header">Hosting Manager</li>
            {% if current_user.has_roles([('super_admin', 'hosting')]) %}
                <li><a href="{{ url_for('hosting.index') }}" class="waves-effect">Activation</a></li>
                <li><a href="{{ url_for('hosting.abonne') }}" class="waves-effect">Abonnement</a></li>
            {% endif %}
            <li class="uk-nav-header">Domaine Name Manager</li>
            {% if current_user.has_roles([('super_admin', 'domaine')]) %}
                <li><a href="{{ url_for('domaine.index') }}" class="waves-effect">Activation</a></li>
                <li><a href="{{ url_for('domaine.abonne') }}" class="waves-effect">Abonnement</a></li>
            {% endif %}

        </ul>
    </li>
    <li class="uk-nav-divider"></li>
{#    <li><a href="#">Calendrier</a></li>#}
{#    <li class="uk-nav-divider"></li>#}
    <li class="uk-parent">
        <a href="#" class="waves-effect">Vente</a>
        <ul class="uk-nav-sub">
            <li><a href="{{ url_for('devis.index') }}" class="waves-effect">Devis</a></li>
            <li><a href="{{ url_for('commande.index') }}" class="waves-effect">Bon de commande</a></li>
            <li><a href="{{ url_for('client.index') }}" class="waves-effect">Clients</a></li>
            {% if current_user.has_roles([('super_admin', 'internaute')]) %}
                <li><a href="{{ url_for('user.index') }}" class="waves-effect">Internautes</a></li>
            {% endif %}
            {% if current_user.has_roles([('super_admin', 'fieldsoldier')]) %}
                <li><a href="{{ url_for('user_soldier.index') }}" class="waves-effect">Field Soldier</a></li>
            {% endif %}
        </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
        <a href="#" class="waves-effect">Facturation</a>
        <ul class="uk-nav-sub">
            <li><a href="{{ url_for('facture.index') }}" class="waves-effect">Facture</a></li>
            {% if current_user.has_roles([('super_admin', 'reglement')]) %}
                <li><a href="{{ url_for('reglement.index') }}" class="waves-effect">Règlement facture</a></li>
            {% endif %}
            <li><a href="{{ url_for('facture.solde') }}" class="waves-effect">Facture non soldé</a></li>
            {% if current_user.has_roles([('super_admin', 'reglement')]) %}
                <li><a href="{{ url_for('reglement.transaction') }}" class="waves-effect">Historique des transactions</a></li>
            {% endif %}
        </ul>
    </li>
    {% if current_user.has_roles([('super_admin', 'claim', 'relation')]) or current_user.has_roles([('super_admin', 'client')], ['edit']) %}
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
        <a href="#" class="waves-effect">Demandes Utilisateurs</a>
        <ul class="uk-nav-sub">
            {% if current_user.has_roles([('super_admin', 'claim')]) %}
                <li><a href="{{ url_for('claim.index') }}" class="waves-effect">Reclamation</a></li>
            {% endif %}
            {% if current_user.has_roles([('super_admin', 'client')], ['edit']) %}
                <li><a href="{{ url_for('client.new') }}" class="waves-effect">Nouvel Entreprise</a></li>
            {% endif %}
            {% if current_user.has_roles([('super_admin', 'relation')]) %}
                <li><a href="{{ url_for('relation.index') }}" class="waves-effect">Demande Relation</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    <li class="uk-nav-divider"></li>
{#    <li class="uk-parent"><a href="#">Rapport</a></li>#}
{#    <li class="uk-nav-divider"></li>#}
    {% if current_user.has_roles([('super_admin', 'user', 'entreprise', 'general', 'etape', 'activite', 'libelle_opportunite', 'categorie', 'service', 'package', 'moyen_paiement')]) %}
    <li class="uk-parent">
        <a href="#" class="waves-effect">Configuration</a>
        <ul class="uk-nav-sub">
            {% if current_user.has_roles([('super_admin', 'user', 'entreprise')]) %}
                <li class="uk-nav-header">Utilisateurs</li>
                {% if current_user.has_roles([('super_admin')]) %}
                    <li><a href="{{ url_for('role.index') }}" class="waves-effect">Roles</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'user')]) %}
                    <li><a href="{{ url_for('user_param.index') }}" class="waves-effect">Utilisateur</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'entreprise')]) %}
                    <li><a href="{{ url_for('company.view') }}" class="waves-effect">Entreprise</a></li>
                {% endif %}
            {% endif %}
            {% if current_user.has_roles([('super_admin','general','categorie', 'service', 'package', 'moyen_paiement')]) %}
                <li class="uk-nav-header">Ventes</li>
                {% if current_user.has_roles([('super_admin', 'general')]) %}
                    <li><a href="{{ url_for('parametrage.view') }}" class="waves-effect">Paramètre général</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'categorie')]) %}
                    <li><a href="{{ url_for('categorie.index') }}" class="waves-effect">Catégorie</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'service')]) %}
                    <li><a href="{{ url_for('service.index') }}" class="waves-effect">Ligne de service</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'package')]) %}
                    <li><a href="{{ url_for('package.index') }}" class="waves-effect">Packages/Offres</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'moyen_paiement')]) %}
                    <li><a href="{{ url_for('moyen_paiement.index') }}" class="waves-effect">Moyens de paiement</a></li>
                {% endif %}
            {% endif %}
            {% if current_user.has_roles([('super_admin', 'etape', 'activite', 'libelle_opportunite')]) %}
                    <li class="uk-nav-header">Relances</li>
                {% if current_user.has_roles([('super_admin', 'etape')]) %}
                    <li><a href="{{ url_for('etape.index') }}" class="waves-effect">Etapes</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'activite')]) %}
                    <li><a href="{{ url_for('activite.index') }}" class="waves-effect">Activités</a></li>
                {% endif %}
                {% if current_user.has_roles([('super_admin', 'libelle_opportunite')]) %}
                    <li><a href="{{ url_for('libelle_opportunite.index') }}" class="waves-effect">Opportunités</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </li>
    {% endif %}
</ul>