{% extends 'base.html' %}

{% block title %} {{ title_page }} {% endblock %}

{% block title_header %} {{ title_page }} {% endblock %}

{% block  button %}
    {% if data.vendeur_id.id == current_user.id or (current_user.has_roles([('super_admin', 'opportunite')]) and data.vendeur_id.id != current_user.id) %}
    {% if data.etape != 'win' %}
        <a class="uk-button waves-effect uk-button-success uk-button-small"  href="{{ url_for('opportunite.edit', opportunite_id=opportunite_id, relance=request.args.get('relance'), paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-pencil-square-o"></i></span>Modifier</a>
    {% endif %}
    {% endif %}
    {% if request.args.get('relance') %}
        <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('relance.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
    {% else %}
        <a class="uk-button waves-effect uk-button-danger uk-button-small" href="{{ url_for('opportunite.index', paged=request.args.get('paged')) }}"><span class="uk-margin-small-right"><i class="fa fa-reply"></i></span>Retour</a>
    {% endif %}
{% endblock %}

{% block layout_content %}
    <div class="uk-container uk-container-expand uk-padding-small" id="uk-second-nav">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-3-5@l uk-width-3-5@m uk-width-3-5@s" uk-margin>
                            {% if data.etape != 'win' %}
                            {% if data.vendeur_id.id == current_user.id or (current_user.has_roles([('super_admin', 'opportunite')]) and data.vendeur_id.id != current_user.id) %}

                             <a class="uk-button waves-effect uk-button-success uk-button-small uk-width-1-1@xs uk-width-auto@s" href="{{ url_for('devis.edit', opportunite_id=opportunite_id) }}"> <span class="uk-margin-small-right"><i class="fa fa-plus"></i></span> Devis </a>

                            {% endif %}

                            {% if data.vendeur_id.id == current_user.id  %}
                             <a class="uk-button waves-effect uk-button-secondary uk-button-small uk-width-1-1@xs uk-width-auto@s modal" href="{{ url_for('opportunite.relance_edit', opportunite_id=opportunite_id) }}" uk-toggle="target: #modal-id"> <span class="uk-margin-small-right"><i class="fa fa-sign-in"></i></span>log activity </a>
                            {% endif %}
{#                             <a class="uk-button waves-effect uk-button-default uk-button-small uk-width-1-1@xs uk-width-auto@s uk-margin-bottom" href=""> Marqué comme perdu </a>#}
                            {% endif %}
                        </div>
                        <div class="uk-width-2-5@l uk-width-2-5@m uk-width-2-5@s">
                            <ul class="uk-subnav uk-subnav-divider uk-subnav-pill uk-flex-right" uk-margin>
                                {% for etape in etape_list %}
                                    <li {% if data.etape == etape.sigle %} class = 'uk-active' {% endif %}><a href="{{ url_for('opportunite.change_etape', etape_id=etape.sigle, opportunite_id=opportunite_id) }}">{{ etape.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="uk-container uk-margin">
            {% include 'includes/flash_message.html' %}
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <form method="post" id="formulaire">
                        <div class="uk-card uk-card-default uk-card-small uk-card-body">
                           {% if opportunite_id %}
                                <div class="uk-position-top-right uk-padding-small uk-width-1-3@s uk-flex uk-flex-right">
                                    <a href="{{ url_for('opportunite.devis', opportunite_id=opportunite_id) }}" class="uk-button waves-effect uk-button-default uk-button-small"><span class="uk-margin-small-right">{{ devis_count }}</span> Devis</a>
                                    <a href="{{ url_for('opportunite.relance', opportunite_id=opportunite_id, relance=request.args.get('relance')) }}" class="uk-button waves-effect uk-button-default uk-button-small"><span class="uk-margin-small-right">{{ data.suivie|length }}</span> Activité(s)</a>
                                </div>
                            {% endif %}
                           <div class="uk-padding uk-padding-remove-horizontal uk-grid-small" uk-grid>
                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin uk-margin-bottom">
                                        {{ form.name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form.name(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form.name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s">
                                    <h2 class="uk-heading-line uk-text-center"><span>Information du client</span></h2>
                                </div>
                            {% if not opportunite_id %}
                                <div class="uk-width-1-1@s">
                                    <div class="uk-margin">
                                        <label for="" class="uk-form-label"></label>
                                        <div class="uk-form-controls">
                                            <select  name="client_exist" id="client_exist" class="uk-select">
                                                 <option value="0">Selectionnez un client existant</option>
                                                    {% for client in client_list %}
                                                  <option value="{{ client.id }}" {% if form_client.id.data == client.id %} selected {% endif %}>{{ client.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.raison.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           <ul class="uk-subnav uk-margin-small-top">
                                               <li class="uk-active">
                                                   {% if form_client.raison.data == 'LT' %} Etablissement {% endif %}
                                                   {% if form_client.raison.data == 'SARL' %} SARL (Société à responsabilité limitée) {% endif %}
                                                   {% if form_client.raison.data == 'SA' %} SA (Société Anonyme) {% endif %}
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.name.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           {{ form_client.name(class_='uk-input uk-form-blank') }}
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.email.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           {{ form_client.email(class_='uk-input uk-form-blank') }}
                                           {% for message in form_client.email.errors %}
                                               <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                           {% endfor %}
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.phone.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           {{ form_client.phone(class_='uk-input uk-form-blank') }}
                                           {% for message in form_client.phone.errors %}
                                               <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                           {% endfor %}
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.ville.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           {{ form_client.ville(class_='uk-input uk-form-blank') }}
                                           {% for message in form_client.ville.errors %}
                                               <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                           {% endfor %}
                                       </div>
                                   </div>
                               </div>
                               <div class="uk-width-1-2@s">
                                   <div class="uk-margin">
                                       {{ form_client.quartier.label(class_='uk-form-label uk-text-bold') }}
                                       <div class="uk-form-controls">
                                           {{ form_client.quartier(class_='uk-input uk-form-blank') }}
                                           {% for message in form_client.quartier.errors %}
                                               <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                           {% endfor %}
                                       </div>
                                   </div>
                               </div>

                                <div class="uk-width-1-1@s uk-margin uk-margin-bottom uk-margin-top">
                                    <h2 class="uk-heading-line uk-text-center"><span>Information contact</span></h2>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_contact.last_name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_contact.last_name(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form_contact.last_name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_contact.first_name.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_contact.first_name(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form_contact.first_name.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_contact.email.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_contact.email(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form_contact.email.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_contact.fonction.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_contact.fonction(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form_contact.fonction.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <div class="uk-margin">
                                        {{ form_contact.phone.label(class_='uk-form-label uk-text-bold') }}
                                        <div class="uk-form-controls">
                                            {{ form_contact.phone(class_='uk-input uk-form-blank', id="enter") }}
                                            {% for message in form_contact.phone.errors %}
                                                <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@s uk-margin uk-margin-bottom uk-margin-top">
                                    <h2 class="uk-heading-line uk-text-center"><span>Vendeurs</span></h2>
                                </div>
                                <div class="uk-width-1-2@s">

                                        <div class="uk-margin">
                                            {{ form.vendeur_id.label(class_='uk-form-label uk-text-bold') }}
                                            <div class="uk-form-controls">
                                                {{ form.vendeur_id(class_='uk-select uk-form-blank') }}
                                                {% for message in form.vendeur_id.errors %}
                                                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                </div>
                                <div class="uk-width-1-2@s">

                                        <div class="uk-margin">
                                            {{ form.note.label(class_='uk-form-label uk-text-bold') }}
                                            <div class="uk-form-controls">
                                                {{ form.note(class_='uk-textarea uk-form-blank') }}
                                                {% for message in form.note.errors %}
                                                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                </div>

                        </div>

                        </div>
                    </form>
                </div>

            </div>
    </div>
{% endblock %}