<!DOCTYPE html>
<html>
<head>

    <title>PDF</title>
</head>
<body>
<table class="uk-table" border="0">
    <tbody>
    <tr>
        <td style="width: 5%" class="zone"></td>
        <td style="width: 45%" class="title">
            <span class="uk-h1">Facture</span>
        </td>
        <td style="width: 45%" rowspan="2">
            <img src="{{ image }}" class="uk-display-block image" alt=""/>
            <div class="uk-text-right" style="font-size: 12px">
                Office: rue 99 TOBIE KUOH  1937 Bonanjo, Douala<br/>Phone: (+237) 655 49 44 00<br/>
                RCCM: RC/Dla/2014/B/2259 - NIU: M051412115007M
            </div>

        </td>
        <td style="width: 6%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td style="width: 45%">
            <div class="subtitle"><span class="uk-text-bold">No </span>:   146779800wq98</div>
            <div class="subtitle"><span class="uk-text-bold">Date </span>:  akljhasidao</div>
        </td>
        <td style="width: 5%"></td>
    </tr>
    </tbody>
</table>

<table class="uk-table uk-info-zone" >
    <tr>
        <td style="width: 5%"></td>
        <td>
            <div class="uk-text-bold title">Entreprise</div>
            Boulangerie SARL <br/>
            Artisan Boulanger
        </td>
        <td>
            <div class="uk-text-bold title">Contact</div>
            John Doe <br/>
            Tel 6624624624 <br/>
            John@accentmedia.hk
        </td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td>
            <div class="uk-text-bold title">Adresse de facturation</div>
            JBD 340 aAkwa Nord o <br/>
            Douala <br/>
            Tel 678990023
        </td>
        <td>
            <div class="uk-text-bold title">Support utlisé</div>
            Powerpoint <br/>
            <div class="uk-text-bold title">Le client n'a pas de support ?</div>
            oui <br/>
        </td>
        <td style="width: 5%"></td>
    </tr>
</table>
<table class="uk-table">
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table class="uk-table uk-table-bordered uk-table-small uk-table-middle uk-table-striped">
                <thead>
                    <tr>
                        <th style="width: 35%;">Produits</th>
                        <th class="uk-text-center">Nbre passage</th>
                        <th class="uk-text-center">Prix Unitaire</th>
                        <th class="uk-text-center">Sous Total</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="uk-background-blue-grey">
                    <td colspan="4">
                        Package 15 x 3 = 45 passages
                    </td>
                </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>


                </tbody>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
</table>



<table class="uk-table uk-table-small footer" border="0">
    <tr>
        <td style="width: 5%"></td>
        <td>
            <span class="uk-text-bold uk-text-left"> Pascal THEZE</span> <br/>
            <span class="uk-text-bold uk-text-left"> Directrice Commerciale et de l'exploitation</span>

        </td>
        <td><span class="uk-text-bold">La devise est le Franc CFA</span></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td colspan="2" class="">
            <table>
                <td class="zone " ></td>
                <td class="">
                    <blockquote cite="#" style="font-size: 12px; font-style: italic">
                        <p class="uk-text-break" style="font-style: italic"><strong>Règlement à l’ordre d’Accent Média :</strong> <br/>
                        100% à la réception de la présente facture par chèque libellé « ACCENT MEDIA S.A »  ou par virement au compte : <br/> ACCENT MEDIA S.A
                    -
                        Code Banque 10005 -
                        Code guichet 00002 -
                        N° Compte 04 92 78 11 00 1 -
                        Clé 04 -
                        Code SWIFT CCEICMCX -
                        IBAN CM 21
                        </p>
                    </blockquote>
                </td>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>

    <tr>
        <td class="zone" style="width: 5%"></td>
        <td class="zone" colspan="2">
            <table class="uk-table">
                <tr>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> www.accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> contact@accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ facebook }}" alt="" class="icon-width"/> www.facebook.com/accentmedia</td>
                    <td class="uk-text-middle"><img src="{{ tweeter }}" alt="" class="icon-width"/> www.twiter.com/accentmedia</td>
                </tr>
            </table>
        </td>
        <td class="zone" style="width: 5%"></td>
    </tr>
</table>

<div class="break">

    </div>


<table class="uk-table" border="0">
    <tbody>
    <tr>
        <td style="width: 5%" class="zone"></td>
        <td style="width: 45%" class="title">
            <span class="uk-h1">Facture</span>
        </td>
        <td style="width: 45%" rowspan="2">
            <img src="{{ image }}" class="uk-display-block image" alt=""/>
            <div class="uk-text-right" style="font-size: 12px">
                Office: rue 99 TOBIE KUOH  1937 Bonanjo, Douala<br/>Phone: (+237) 655 49 44 00<br/>
                RCCM: RC/Dla/2014/B/2259 - NIU: M051412115007M
            </div>

        </td>
        <td style="width: 6%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td style="width: 45%">
            <div class="subtitle"><span class="uk-text-bold">No </span>:   146779800wq98</div>
            <div class="subtitle"><span class="uk-text-bold">Date </span>:  akljhasidao</div>
        </td>
        <td style="width: 5%"></td>
    </tr>
    </tbody>
</table>

<table class="uk-table">
    <tr>
        <td style="width: 5%"></td>
        <td>
            <table class="uk-table uk-table-bordered uk-table-small uk-table-middle uk-table-striped">
                <thead>
                    <tr>
                        <th style="width: 35%;">Produits</th>
                        <th class="uk-text-center">Nbre passage</th>
                        <th class="uk-text-center">Prix Unitaire</th>
                        <th class="uk-text-center">Sous Total</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="uk-background-blue-grey">
                    <td colspan="4">
                        Package 15 x 3 = 45 passages
                    </td>
                </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr class="uk-background-blue-grey">
                        <td colspan="4">
                            Package 15 x 3 = 45 passages
                        </td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td>SITE/2017/0001 <br/> Boulangerie Saker
                        </td>
                        <td class="uk-text-center">1</td>
                        <td class="uk-text-center">750</td>
                        <td class="uk-text-center">750</td>
                    </tr>



                </tbody>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
</table>

<table class="uk-table ">
    <tr>
        <td style="width: 5%"></td>
        <td>
        <table class="uk-table uk-table-bordered uk-table-small uk-table-middle uk-table-striped" border="0">
            <tbody>
                    <tr>
                        <td colspan="2" class="no-border no-border-first-child"></td>

                        <td class="uk-h4 no-border no-border-first-child" style="width: 20%">Total HT</td>
                        <td class="uk-text-center">750</td>
                    </tr>
                    <tr>
                        <td style="width: 61%;" colspan="2" class="no-border"></td>

                        <td class="uk-h4 no-border" style="width: 20%">TVA (19,25%)</td>
                        <td class="uk-text-center">136,875</td>
                    </tr>
                    <tr>
                        <td style="width: 61%;" class="no-border" colspan="2"></td>

                        <td class="uk-h4 no-border" style="width: 20%">Total TTC</td>
                        <td class="uk-text-center uk-background-custom uk-text-bold">886,875</td>
                    </tr>
            </tbody>
        </table>
        </td>
        <td style="width: 5%"></td>
    </tr>
</table>

{#<table class="uk-table" border="0">#}
{#        <tbody>#}
{#        <tr>#}
{#            <td style="width: 5%" class="zone"></td>#}
{#            <td style="width: 45%" class="title">#}
{#                <span class="uk-h1">Facture</span>#}
{#            </td>#}
{#            <td style="width: 45%" rowspan="2">#}
{#                <img src="{{ image }}" class="uk-display-block image" alt=""/>#}
{#                <div class="uk-text-right" style="font-size: 12px">#}
{#                    Office: rue 99 TOBIE KUOH  1937 Bonanjo, Douala<br/>Phone: (+237) 655 49 44 00<br/>#}
{#                    RCCM: RC/Dla/2014/B/2259 - NIU: M051412115007M#}
{#                </div>#}
{##}
{#            </td>#}
{#            <td style="width: 5%"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td style="width: 5%"></td>#}
{#            <td style="width: 45%">#}
{#                <div class="subtitle"><span class="uk-text-bold">No </span>:   146779800wq98</div>#}
{#                <div class="subtitle"><span class="uk-text-bold">Date </span>:  akljhasidao</div>#}
{#            </td>#}
{#            <td style="width: 5%"></td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{##}
{##}
{#<table class="uk-table">#}
{#    <tr>#}
{#        <td style="width: 5%"></td>#}
{#        <td>#}
{#        <table class="uk-table uk-table-bordered uk-table-small uk-table-middle uk-table-striped" border="0">#}
{#            <tbody>#}
{#                    <tr>#}
{#                        <td colspan="2" class="no-border no-border-first-child"></td>#}
{##}
{#                        <td class="uk-h4 no-border no-border-first-child" style="width: 20%">Total HT</td>#}
{#                        <td class="uk-text-center">750</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="width: 61%;" colspan="2" class="no-border"></td>#}
{##}
{#                        <td class="uk-h4 no-border" style="width: 20%">TVA (19,25%)</td>#}
{#                        <td class="uk-text-center">136,875</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="width: 61%;" class="no-border" colspan="2"></td>#}
{##}
{#                        <td class="uk-h4 no-border" style="width: 20%">Total TTC</td>#}
{#                        <td class="uk-text-center uk-background-custom uk-text-bold">886,875</td>#}
{#                    </tr>#}
{#            </tbody>#}
{#        </table>#}
{#        </td>#}
{#        <td style="width: 5%"></td>#}
{#    </tr>#}
{#</table>#}
{##}
<table class="uk-table uk-table-small footer2" border="0">
    <tr>
        <td style="width: 5%"></td>
        <td>
            <span class="uk-text-bold uk-text-left"> Pascal THEZE</span> <br/>
            <span class="uk-text-bold uk-text-left"> Directrice Commerciale et de l'exploitation</span>

        </td>
        <td><span class="uk-text-bold">La devise est le Franc CFA</span></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td colspan="2" class="">
            <table>
                <td class="zone " ></td>
                <td class="">
                    <blockquote cite="#" style="font-size: 12px; font-style: italic">
                        <p class="uk-text-break" style="font-style: italic"><strong>Règlement à l’ordre d’Accent Média :</strong> <br/>
                        100% à la réception de la présente facture par chèque libellé « ACCENT MEDIA S.A »  ou par virement au compte : <br/> ACCENT MEDIA S.A
                    -
                        Code Banque 10005 -
                        Code guichet 00002 -
                        N° Compte 04 92 78 11 00 1 -
                        Clé 04 -
                        Code SWIFT CCEICMCX -
                        IBAN CM 21
                        </p>
                    </blockquote>
                </td>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>

    <tr>
        <td class="zone" style="width: 5%"></td>
        <td class="zone" colspan="2">
            <table class="uk-table">
                <tr>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> www.accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> contact@accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ facebook }}" alt="" class="icon-width"/> www.facebook.com/accentmedia</td>
                    <td class="uk-text-middle"><img src="{{ tweeter }}" alt="" class="icon-width"/> www.twiter.com/accentmedia</td>
                </tr>
            </table>
        </td>
        <td class="zone" style="width: 5%"></td>
    </tr>
</table>

<div class="break">

    </div>


<table class="uk-table" border="0">
    <tbody>
    <tr>
        <td style="width: 5%" class="zone"></td>
        <td style="width: 45%" class="title">
            <span class="uk-h1">Facture</span>
        </td>
        <td style="width: 45%" rowspan="2">
            <img src="{{ image }}" class="uk-display-block image" alt=""/>
            <div class="uk-text-right" style="font-size: 12px">
                Office: rue 99 TOBIE KUOH  1937 Bonanjo, Douala<br/>Phone: (+237) 655 49 44 00<br/>
                RCCM: RC/Dla/2014/B/2259 - NIU: M051412115007M
            </div>

        </td>
        <td style="width: 6%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td style="width: 45%">
            <div class="subtitle"><span class="uk-text-bold">No </span>:   146779800wq98</div>
            <div class="subtitle"><span class="uk-text-bold">Date </span>:  akljhasidao</div>
        </td>
        <td style="width: 5%"></td>
    </tr>
    </tbody>
</table>
<table class="uk-table uk-table-small footer3" border="0">
    <tr>
        <td style="width: 5%"></td>
        <td>
            <span class="uk-text-bold uk-text-left"> Pascal THEZE</span> <br/>
            <span class="uk-text-bold uk-text-left"> Directrice Commerciale et de l'exploitation</span>

        </td>
        <td><span class="uk-text-bold">La devise est le Franc CFA</span></td>
        <td style="width: 5%"></td>
    </tr>
    <tr>
        <td style="width: 5%"></td>
        <td colspan="2" class="">
            <table>
                <td class="zone " ></td>
                <td class="">
                    <blockquote cite="#" style="font-size: 12px; font-style: italic">
                        <p class="uk-text-break" style="font-style: italic"><strong>Règlement à l’ordre d’Accent Média :</strong> <br/>
                        100% à la réception de la présente facture par chèque libellé « ACCENT MEDIA S.A »  ou par virement au compte : <br/> ACCENT MEDIA S.A
                    -
                        Code Banque 10005 -
                        Code guichet 00002 -
                        N° Compte 04 92 78 11 00 1 -
                        Clé 04 -
                        Code SWIFT CCEICMCX -
                        IBAN CM 21
                        </p>
                    </blockquote>
                </td>
            </table>
        </td>
        <td style="width: 5%"></td>
    </tr>

    <tr>
        <td class="zone" style="width: 5%"></td>
        <td class="zone" colspan="2">
            <table class="uk-table">
                <tr>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> www.accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ word }}" alt="" class="icon-width"/> contact@accentmedia.tk</td>
                    <td class="uk-text-middle"><img src="{{ facebook }}" alt="" class="icon-width"/> www.facebook.com/accentmedia</td>
                    <td class="uk-text-middle"><img src="{{ tweeter }}" alt="" class="icon-width"/> www.twiter.com/accentmedia</td>
                </tr>
            </table>
        </td>
        <td class="zone" style="width: 5%"></td>
    </tr>
</table>


</body>
</html>