<!DOCTYPE html>
<html>
<body style="margin: 0; padding: 0; height: 100%;">

<table class="uk-table" style="height: 100%; background: #d32f2f; width: 100%; border-collapse: collapse;  border-spacing: 0;  margin: 0;">
    <tr>
        <td class="zone" style="width: 5%;"></td>
        <td class="zone" colspan="2">
            <table class="uk-table">
                <tr>
                    <td class="uk-text-middle" style="white-space: nowrap;padding: 10px 12px; vertical-align: middle!important; color: #fff;"><img src="" alt="" class="icon-width"/> www.accentmedia.tk</td>
                    <td class="uk-text-middle" style="white-space: nowrap;padding: 10px 12px; vertical-align: middle!important; color: #fff;"><img src="" alt="" class="icon-width"/> contact@accentmedia.tk</td>
                    <td class="uk-text-middle" style="white-space: nowrap;padding: 10px 12px; vertical-align: middle!important; color: #fff;"><img src="" alt="" class="icon-width"/> www.facebook.com/accentmedia</td>
                    <td class="uk-text-middle" style="white-space: nowrap;padding: 10px 12px; vertical-align: middle!important; color: #fff;"><img src="" alt="" class="icon-width"/> www.twiter.com/accentmedia</td>
                </tr>
            </table>
        </td>
        <td class="zone" style="width: 5%"></td>
    </tr>
</table>

</body>
</html>