<button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-modal-header">
    <h2 class="uk-modal-title">Contacts</h2>
</div>
<form class="form-horizontal" role="form" id="formulaire_modal">

    {{ form.hidden_tag() }}
    <div class="uk-modal-body" uk-overflow-auto>
        <div class="uk-margin">
            {{ form.civilite.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.civilite(class_='uk-select selected ', id="enter") }}
            {% for message in form.civilite.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
         <div class="uk-margin">
            {{ form.last_name.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.last_name(class_='uk-input ', id="enter") }}
            {% for message in form.last_name.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>
         <div class="uk-margin">
            {{ form.first_name.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
            {{ form.first_name(class_='uk-input ', id="enter") }}
            {% for message in form.first_name.errors %}
                <div class="uk-alert uk-alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          </div>

        <div class="uk-margin">
            {{ form.email.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
                {{ form.email(class_='uk-input', id="enter") }}
                {% for message in form.email.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        <div class="uk-margin">
            {{ form.fonction.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
                {{ form.fonction(class_='uk-input', id="enter") }}
                {% for message in form.fonction.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        <div class="uk-margin">
            {{ form.telephone.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
                {{ form.telephone(class_='uk-input', id="enter") }}
                {% for message in form.telephone.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        <div class="uk-margin">
            {{ form.mobile.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
                {{ form.mobile(class_='uk-input', id="enter") }}
                {% for message in form.mobile.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </div>


        <div class="uk-margin">
            {{ form.note.label(class_='uk-form-label uk-text-bold') }}
            <div class="uk-form-controls">
                {{ form.note(class_='uk-input', id="enter") }}
                {% for message in form.note.errors %}
                    <div class="uk-alert uk-alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </div>



    </div>

    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button waves-effect uk-button-danger uk-modal-close uk-buttom-small" type="button">Fermer</button>
        <button type="button" id="submit_modal" class="uk-button waves-effect uk-button-success uk-buttom-small"><span class="uk-margin-small-right"><i class="fa fa-floppy-o"></i></span>Enreg.</button>
    </div>
</form>

<script>
    $('#submit_modal').on('click', function(e){
        e.preventDefault();
        $.ajax({
                url: "{{ url_for('client.contact_edit', client_id=client_id, contact_id=contact_id) }}",
                data: $('#formulaire_modal').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#modal-id .uk-body-custom').html(data);
                }
            });
    });

    {% if success %}
        window.location.replace(window.location.origin+"{{ url_for('client.edit', client_id=client_id) }}").delay();
    {% endif %}
</script>
